header, nav, section, article, aside, footer, figure, figcaption  {
	display: block;
}

body {
	color: #666;
	background-color: #f9f8f6;
	background-image: url("../img/dark-wood.jpg");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;
}

.container {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000;
	background-color: #fff;
}

header {
	height: 160px;
	background-image: url(../img/header.jpg);
}

h1 {
	opacity: 0;
	width: 940px;
	height: 130px;
	margin: 0px;
}

nav, footer {
	clear: both;
	color: #fff;
	background-color: #aeaca8;
	height: 30px;
}

nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}

nav li {
	display: inline;
	margin-right: 40px;
}

nav li a { color: #fff;}

nav li a:hover, nav li a.ativo { color: #000;}

section.cursos {
	float: left;
	width: 659px;
	border-right: 1px solid #eee;
}

article {
	clear: both;
	overflow: auto;
	width: 100%;
}

article h2 {
	margin-top: 40px;
}

figure {
	float: left;
	width: 290px;
	height: 220px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eee;
}

figcaption {
	font-size: 90%;
	text-align: left;
}

aside {
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;
}

aside section a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #eee;
}

aside section a:hover {
	color: #985d6a;
	background-color: #efefef;
}

a {
	color: #de6581;
	text-decoration: none;
}

h1, h2, h3 { font-weight: normal;}

h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;
}

h3 {
	margin: 0px 0px 10px 0px;
	color: #de6581;
}

aside h2 {
	padding: 30px 0px 10px 0px;
	color: #de6581;
}

footer {
	font-size: 80%;
	padding: 7px 0px 0px 20px;
}			

.receitas, .contato { font-size: 0.9em; }